body{
    background-color: black;
    text-align: center;
    color: white;
    font-family: Impact;
}
button{
    background-color: brown;
    margin: 15px;
    padding: 5px0;
}

label{
    font-size: 35px;
    background-color: rgba(145, 1, 1, 0.26);
    margin: 15px;
    padding: 5px0;
}
.TC{ border: 2px;
    color: beige;
    background-color: rgba(165, 42, 42, 0.459);
    margin: 10px;
    font-size: 25px;
    border-radius: 10px;
    width: 300px;
    position: relative;
    margin: auto;
}
.TD{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px;
    border-color: brown;
    border: 1px;
    border-style: solid;
}
.BS{
    border-radius: 5px;
    color: white;
    background-color: black;
    font-size: 15px;
    font-weight: bold;
}

.GB{
    width: 500px;
    height: 500px;
    border-style: solid;
    border-color: aliceblue;
    margin: auto;
}
.mainbt{
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.500);
    color: rgba(42, 95, 165, 0.493);
    border-color: rgba(240, 248, 255, 0.199);
    padding: 10px;
    transition: 0.4s;
}
.mainbt:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(253, 253, 253);
    border-color: rgba(240, 248, 255, 0.199);
    cursor: pointer;
}
.backG{
    background: url('imgs/bg.gif') no-repeat center center/cover;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    filter :opacity(0.4);
}